.page-header__logo {
  opacity: 0;
  transform: translateX(-1rem);
  transition: all .3s cubic-bezier(.5, .85, .5, .85);
}

.page-header__nav {
  opacity: 0;
  transition: opacity .3s cubic-bezier(.5, .85, .5, .85) .3s;
}

.screen__footer {
  transform: translateY(100%);
  transition: transform .3s cubic-bezier(.5, .85, .5, .85);
}

.social-block__toggler::before {
  width: 0;
  height: 0;
  border-width: 0;
  transition: all .5s,
    width .3s linear .6s,
    height .3s linear .6s;
}

.page-header__menu a.active::after {
  transition: background-color .3s, width .5s linear .6s;
}



.show-anim {
  .page-header__logo {
    opacity: 1;
    transform: translateX(0)
  }

  .page-header__nav {
    opacity: 1;
  }

  .screen__footer {
    transform: translateY(0);
  }

  .social-block__toggler::before {
    width: 100%;
    height: 100%;
  }
}




.bg-fill {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #5f458c;
  z-index: 1;

  &.active {
    height: 100%;
    transition: all .7s;
  }
}



@keyframes ball {
  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.rules__item {
  &::before {
    transform: scale(0);

    color: #a67ee5;
    transition: color .5s .2s;
  }

  p {
    opacity: 0;
    transform: translateX(1.5rem);
  }
}

.rules__item:nth-child(1) {
  p {
    transition: all .3s .3s;
  }
}

.rules__item:nth-child(2) {
  p {
    transition: all .3s .6s;
  }

  &::before {
    animation-delay: 0.5s;
    transition: color .5s .7s;
  }
}

.rules__item:nth-child(3) {
  p {
    transition: all .3s .9s;
  }

  &::before {
    animation-delay: 0.8s;
    transition: color .5s 1s;
  }
}

.rules__item:nth-child(4) {

  p {
    transition: all .3s 1.2s;
  }

  &::before {
    animation-delay: 1.1s;
    transition: color .5s 1.3s;
  }
}



.rules__link.btn {
  span {
    opacity: 0;
    transition: opacity .5s 1.5s;
  }

  &::before {
    width: 0;

    border: none;

    left: auto;
    right: 0;
    transform: translateY(-50%);

    transition: width .5s 1.2s;
  }
}


.screen--rules.active {
  .rules__item {
    &::before {
      animation-name: ball;
      animation-duration: .3s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;

      color: #fff;
    }

    p {
      opacity: 1;
      transform: translateX(0)
    }
  }

  .rules__link.btn {
    span {
      opacity: 1;
    }

    &::before {
      width: 100%;
    }
  }
}





.text__word {
  display: inline-block;
  overflow: hidden;
}

.text__word>span {
  transform: translate3d(0, 1em, 0);
  display: inline-block;
}

.screen.active .text__word>span {
  transform: translate3d(0, 0, 0);
}




.result--prize .result__image {
  picture {
    position: absolute;
    height: auto;
  }

  &-leaf-blue {
    &-1 {
      left: 50%;
      bottom: 25rem;
      width: 34rem;

      transform-origin: left;
      transform: rotate(-20deg);
      opacity: 0;
      animation: leaf-1 3s cubic-bezier(0.3, 0.3, 0.7, 1) 1.7s forwards;
    }

    &-2 {
      left: 21%;
      bottom: 16rem;
      width: 34rem;

      transform-origin: right;
      transform: rotate(45deg);
      opacity: 0;
      animation: leaf-2 3s cubic-bezier(0.3, 0.3, 0.7, 1) 1.5s forwards;
    }
  }

  &-leaf-green {
    left: 47%;
    bottom: 21rem;
    width: 40rem;

    transform: rotate(-20deg);
    transform-origin: left;
    opacity: 0;
    animation: leaf-green 2.5s cubic-bezier(0.3, 0.3, 0.7, 1) 2s forwards;
  }

  &-suitcase {
    width: 0;
    left: 47%;
    bottom: 11rem;
    transform: translateX(-50%) translateY(100%);
    animation: suitcase 0.7s cubic-bezier(.3, .3, 0, 1.3) 1s forwards;
  }

  &-flamingo {
    left: 29%;
    bottom: 16rem;
    width: 32rem;

    opacity: 0;
    transform-origin: center bottom 10rem;
    transform: rotate(-10deg) translateY(20rem);
    animation: flamingo .7s 1.1s forwards,
      flamingo-up-down 2s ease-in-out 1.8s 2;
  }
}


.screen--result {
  .form.form--result {
    justify-content: flex-end;
  }

  .form__field {
    margin-right: 3rem;
    width: 0;
    color: transparent;

    animation: showInput .6s 1s forwards,
      showInputText .5s 1.6s forwards;

    &::placeholder {
      color: inherit;
    }
  }

  .form__button {
    padding: 1.5rem 5rem;
    flex-grow: 0;

    opacity: 0;
    color: transparent;

    animation: showBtn .5s 1s forwards,
      showBtnText .5s 1.1s forwards;
  }
}